<div class="outter-wrapper">
  <div class="container-about">
    <div class="about-left">
      <h2>This Project</h2>
    </div>
    <div class="about-left">
      <p>In this Project we had the assingment to connect an IoTKit with a
      (Cloud) service of our choice. We decided to create a “badge system”
      which works as followed: you have to register the badge first so it gets
      recognized, when held to the reader on the IoTKit. When the badge is
      registered you can open the door with the badge.</p>
    </div>
  </div>
  <div class="container-about">
    <div class="about-left">
      <p>Together Danilo, Stefan and Tillo worked together at this school project.
      we splited the work, that Danilo primarily worked on the hardware near
      side with C++. Stefan worked primarly on the backend with C# and Tillo
      worked primarly on the frontend with Angular. All also were involved in
      the other parts and made a part in the documentation.</p>
    </div>
    <div class="about-left">
      <h2>Team</h2>
    </div>
  </div>
</div>
