<div class="text-center">
<form class="form-signin">
  <div>
    <div>
      <label for="inputFirstname">Firstname:</label>
    </div>
    <div>
      <input id="inputFirstname" class="form-control" type="text" placeholder="enter firstname here ..." required="">
    </div>
  </div>
  <div>
    <div>
      <label for="inputLastname">Lastname:</label>
    </div>
    <div>
      <input id="inputLastname" class="form-control" type="text" placeholder="enter lastname here ..." required="">
    </div>
  </div>
  <div>
    <div>
      <label for="email">email:</label>
    </div>
    <div>
      <input id="email" class="form-control" type="email" placeholder="enter email here ..." required="">
    </div>
  </div>
  <div>
    <div>
      <label for="masterpassword">masterpassword:</label>
    </div>
    <div>
      <input id="masterpassword" class="form-control" type="password" placeholder="enter password here ..." required="">
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Registrieren</button>
</form>
</div>
